<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html>
<head>
    <title>GitHub Actions by Example</title>
    <meta name="description" content="GitHub Actions by Example 是通过带注释的例子介绍 Github Actions 的说明书。"/>
    <meta property="og:title" content="GitHub Actions by Example">
    <meta property="og:description" content="GitHub Actions by Example 是通过带注释的例子介绍 Github Actions 的说明书。">
    <meta property="og:url" content="https://www.actionsbyexample.com/">
    <meta property="og:site_name" content="GitHub Actions by Example">
    <meta name="twitter:title" content="GitHub Actions by Example">
    <meta name="twitter:description" content="GitHub Actions by Example 是通过带注释的例子介绍 Github Actions 的说明书。">
    <meta name="twitter:creator" content="@macint0shpie">
    <meta name="twitter:card" content="summary_large_image">
   <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" />
>
    <link href="default.css" rel="stylesheet">
    <link href="site.css" rel="stylesheet">
    <script async src="https://omami.kanata-blog.eu.org/script.js" data-website-id="f1e56e6a-ea92-4228-b77e-e448f719a75b"></script>
</head>
<body>
<div class="main_container index">
<div class="container">
    <h1><a href="index.html">GitHub Actions by Example</a></h1>
    <p>GitHub Actions 是 Github 提供的便捷的 CI/CD 服务。</p>
    <p><span style="font-style: italic">GitHub Actions by Example</span> 是通过带注释的例子介绍 Github Actions 的说明书。</p>
    <ul id="examples-list">
    {{range .}}
        <li><a class="internal_link" href="{{.Id}}.html">{{.Name}}</a></li>
    {{end}}
    </ul>
</div>
<p class="footer">By <a href="https://macintoshpie.github.io">Ted Summer</a> | <a href="https://github.com/nick-cjyx9/actionsbyexample-cn/">源代码</a> | Inspired by <a href="https://gobyexample.com">Go by Example</a> | 翻译：<a href="https://github.com/nick-cjyx9">Nick Chen</a></p>
</div>
</body>
</html>
